
  <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>SULPAK | Товары</title>
    <style>

    </style>
</head>
<body>
    <div class="header">
        <img src="https://cms.object.pscloud.io/wwwroot/img/logo.webp" alt="SULPAK Logo">
        <h1>SULPAK</h1>
    </div>
    <div class="container">
        <h1>Наши товары</h1>

        <!-- Категория "Пылесосы" -->
        <h2 class="category-title">Пылесосы</h2>
        <ul class="products-list">
            <!-- Пылесос Xiaomi -->
            <li class="product-item">
                <img src="https://object.pscloud.io/cms/cms/Photo/img_0_24_322_6_6_320.webp" alt="Пылесос Xiaomi">
                <h2>Пылесос Samsung VC18M31A0HP/EV</h2>
                <p>Компактный и мощный пылесос с низким уровнем шума.</p>
                <p><strong>9 490 сом</strong></p>
                <a href="https://www.sulpak.kg/g/piylesos_samsung_vc18m31a0hpev" class="buy-button" target="_blank">Купить</a>
            </li>

            <!-- Пылесос АРГ -->
            <li class="product-item">
                <img src="https://object.pscloud.io/cms/cms/Photo/img_0_24_1184_0_1_trhdz5_320.webp" alt="Пылесос LG">
                <h2>Пылесос ARG 8806 Compact</h2>
                <p>Эффективный пылесос с технологией многослойной фильтрации.</p>
                <p><strong>3 090 сом</strong></p>
                <a href="https://www.sulpak.kg/g/piylesosiy_arg_8806_compact" class="buy-button" target="_blank">Купить</a>
            </li>

            <!-- Пылесос Philips -->
            <li class="product-item">
                <img src="https://object.pscloud.io/cms/cms/Photo/img_0_24_754_0_1_320.webp" alt="Пылесос Philips">
                <h2>Пылесос LG VC83209UHA</h2>
                <p>Мощный пылесос с высокой производительностью и фильтрацией воздуха.</p>
                <p><strong>17 090 сом</strong></p>
                <a href="https://www.sulpak.kg/g/piylesos_lg_vc83209uha_24_754" class="buy-button" target="_blank">Купить</a>
            </li>

            <!-- Пылесос Samsung -->
            <li class="product-item">
                <img src="https://object.pscloud.io/cms/cms/Photo/img_0_24_21_0_1_dixaij_320.webp" alt="Пылесос Samsung">
                <h2>Пылесос Samsung VCC-4520 S3R</h2>
                <p>Мощный пылесос с хорошим мотором.</p>
                <p><strong>6 090 сом</strong></p>
                <a href="https://www.sulpak.kg/g/piylesos_samsung_vcc_4520_s3r_" class="buy-button" target="_blank">Купить</a>
            </li>
        </ul>

        <!-- Категория "Холодильники" -->
        <h2 class="category-title">Холодильники</h2>
        <ul class="products-list">
            <!-- Холодильник Candy -->
            <li class="product-item">
                <img src="https://object.pscloud.io/cms/cms/Photo/img_0_25_1096_0_6_320.webp" alt="Холодильник Candy">
                <h2>Холодильник Candy CCRN 6200 W</h2>
                <p>Энергоэффективный холодильник с несколькими камерами.</p>
                <p><strong>33 690 сом</strong></p>
                <a href="https://www.sulpak.kg/g/holodilnik_candy_ccrn_6200_w_25_1096" class="buy-button" target="_blank">Купить</a>
            </li>
            <!-- Холодильник Haier -->
            <li class="product-item">
                <img src="https://object.pscloud.io/cms/cms/Photo/img_0_25_1469_0_1_pqaR9A_320.webp" alt="Холодильник Haier">
                <h2>Холодильник Haier HRF-522DS6RU</h2>
                <p>Современный холодильник с инверторным компрессором.</p>
                <p><strong>79 090 сом</strong></p>
                <a href="https://www.sulpak.kg/g/holodilniki_haier_hrf_522ds6ru" class="buy-button" target="_blank">Купить</a>
            </li>

            <!-- Холодильник Indesit -->
            <li class="product-item">
                <img src="https://object.pscloud.io/cms/cms/Photo/img_0_25_843_0_320.webp" alt="Холодильник Indesit">
                <h2>Холодильник Indesit DS 4160 W</h2>
                <p>Практичный холодильник с современным дизайном и отличной емкостью.</p>
                <p><strong>29 990 сом</strong></p>
                <a href="https://www.sulpak.kg/g/holodilnik_indesit_ds_4160_w_25_843" class="buy-button" target="_blank">Купить</a>
            </li>
            <!-- Холодильник Indesit -->
            <li class="product-item">
                <img src="https://object.pscloud.io/cms/cms/Photo/img_0_25_1183_0_1_4FFMiE.webp" alt="Холодильник Indesit">
                <h2>Холодильник Samsung RB33A32N0SA/WT</h2>
                <p>Практичный холодильник с современным дизайном и отличной емкостью.</p>
                <p><strong>44 090 сом
                </strong></p>
                <a href="https://www.sulpak.kg/g/holodilnik_samsung_rb33a32n0sawt_25_1183" class="buy-button" target="_blank">Купить</a>
            </li>
        </ul>
            <!-- Категория "Телевизоры" -->
<h2 class="category-title">Телевизоры</h2>
    <ul class="products-list tv-products">
        <!-- Телевизор Haier -->
        <li class="product-item">
            <img src="https://object.pscloud.io/cms/cms/Photo/img_0_95_3097_0_1_KrLWl5.webp" alt="Телевизор Haier 32 S2">
            <h2>LED телевизор Haier 32 S2</h2>
            <p>Яркие цвета, четкие контуры и высокая детализация.</p>
            <p><strong>17 690 сом</strong></p>
            <a href="https://www.sulpak.kg/g/televizoriy_haier_32_s2" class="buy-button" target="_blank">Купить</a>
        </li>
        <!-- Телевизор LG -->
        <li class="product-item">
            <img src="https://object.pscloud.io/cms/cms/Photo/img_0_95_1948_0_1.webp" alt="Телевизор LG 43LM5772PLA">
            <h2>LED телевизор LG 43LM5772PLA</h2>
            <p>Яркие цвета, четкие контуры и высокая детализация.</p>
            <p><strong>32 790 сом</strong></p>
            <a href="https://www.sulpak.kg/g/led_tv_lg_43lm5772pla_95_1948" class="buy-button" target="_blank">Купить</a>
        </li>
        <!-- Телевизор LG -->
        <li class="product-item">
            <img src="https://object.pscloud.io/cms/cms/Photo/img_0_95_3107_0_1_ZL04Ec.webp" alt="Телевизор LG 43LM5772PLA">
            <h2>QLED телевизор Haier 55 S2 Pro</h2>
            <p>Яркие цвета, четкие контуры и высокая детализация.</p>
            <p><strong>49 090 сом</strong></p>
            <a href="https://www.sulpak.kg/g/led_tv_lg_43lm5772pla_95_1948" class="buy-button" target="_blank">Купить</a>
        </li>
        <!-- Телевизор LG -->
        <li class="product-item">
            <img src="https://object.pscloud.io/cms/cms/Photo/img_0_95_1687_0.webp" alt="Телевизор LG 43LM5772PLA">
            <h2>LED телевизор Samsung UE43T5300AUXCE</h2>
            <p>Яркие цвета, четкие контуры и высокая детализация.</p>
            <p><strong>32 790 сом</strong></p>
            <a href="https://www.sulpak.kg/g/led_tv_samsung_ue43t5300auxce_95_1687" class="buy-button" target="_blank">Купить</a>
        </li>
           <!-- Категория "Ноутбуки" -->
           <h2 class="category-title">Ноутбуки</h2>
           <ul class="products-list tv-products">
                <!-- Телевизор LG -->
            <li class="product-item">
                <img src="https://object.pscloud.io/cms/cms/Photo/img_0_62_3032_0_1_Bv2yF4_320.webp" alt="Телевизор LG 43LM5772PLA">
                <h2>Ноутбук Acer Nitro V ANV15-51 Core i5 13420H 16GB / SSD 512GB / GeForce RTX 2050 4GB / NO OS / NH.QNDER.002</h2>
                <p>Яркие цвета, четкие контуры и высокая детализация.</p>
                <p><strong>69 090 сом</strong></p>
                <a href="https://www.sulpak.kg/g/noutbuki_acer_nitro_5__anv15_51__i5165sg25n" class="buy-button" target="_blank">Купить</a>
        </li>
        </ul>
            <!-- Телевизор LG -->
            <li class="product-item">
                <img src="https://object.pscloud.io/cms/cms/Photo/img_0_62_3174_0_1_aMFj7J.webp" alt="Телевизор LG 43LM5772PLA">
                <h2>Ноутбук Thunderobot 911S Core D Core i5-12450H 16GB / SSD 512GB / GeForce RTX 3050 4GB / NO OS / JT009K00FRU</h2>
                <p>Яркие цвета, четкие контуры и высокая детализация.</p>
                <p><strong>72 790 сом</strong></p>
                <a href="https://www.sulpak.kg/g/noutbuki_acer_nitro_5__anv15_51__i5165sg25n" class="buy-button" target="_blank">Купить</a>
        </li>
            <!-- Телевизор LG -->
            <li class="product-item">
                <img src="https://object.pscloud.io/cms/cms/Photo/img_0_62_3190_0_1_rmxjNq.webp" alt="Телевизор LG 43LM5772PLA">
                <h2>Ноутбук Lenovo LOQ 3 Series 15IAX9 Core I5 12450HX 16GB / SSD 512GB / GeForce RTX 3050 6GB / NO OS / 83GS005NRK</h2>
                <p>Яркие цвета, четкие контуры и высокая детализация.</p>
                <p><strong>79 990 сом</strong></p>
                <a href="https://www.sulpak.kg/g/noutbuki_acer_nitro_5__anv15_51__i5165sg25n" class="buy-button" target="_blank">Купить</a>
        </li>
        
    </div>
</body>
</html>
